.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 18px;
    background-color: rgb(184, 255, 183);
}

.input-task{
    padding: 10px;
    border-radius: 15px;
}

.list-task{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
.add-task, .done-task{
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
}


.add-task:hover{
    color: blue;
    font-size: 20px;
}

.done-task:hover{
    color: blue;
    font-size: 20px;
}

.content{
    border-radius: 18px;
    margin-top: 3rem;
}